# ---- Python ----
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/

# Virtual envs
.venv/
venv/
env/

# Local config
.env
.env.local

# Logs
*.log

# Docker
pgdata/

# IDE
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
